<!-- COMMON CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/vendors.css" rel="stylesheet">

<div id="Img_carousel" class="slider-pro">
    <div class="sp-slides">

        <div class="sp-slide">
            <img alt="Image" class="sp-image"
                 src="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-src="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-small="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-medium="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-large="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-retina="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg">
        </div>
        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif"
                 data-src="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg"
                 data-small="img/slider_single_tour/2_small.jpg" data-medium="img/slider_single_tour/2_medium.jpg"
                 data-large="img/slider_single_tour/2_large.jpg" data-retina="img/slider_single_tour/2_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/3_medium.jpg"
                 data-small="img/slider_single_tour/3_small.jpg" data-medium="img/slider_single_tour/3_medium.jpg"
                 data-large="img/slider_single_tour/3_large.jpg" data-retina="img/slider_single_tour/3_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/4_medium.jpg"
                 data-small="img/slider_single_tour/4_small.jpg" data-medium="img/slider_single_tour/4_medium.jpg"
                 data-large="img/slider_single_tour/4_large.jpg" data-retina="img/slider_single_tour/4_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/5_medium.jpg"
                 data-small="img/slider_single_tour/5_small.jpg" data-medium="img/slider_single_tour/5_medium.jpg"
                 data-large="img/slider_single_tour/5_large.jpg" data-retina="img/slider_single_tour/5_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/6_medium.jpg"
                 data-small="img/slider_single_tour/6_small.jpg" data-medium="img/slider_single_tour/6_medium.jpg"
                 data-large="img/slider_single_tour/6_large.jpg" data-retina="img/slider_single_tour/6_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/7_medium.jpg"
                 data-small="img/slider_single_tour/7_small.jpg" data-medium="img/slider_single_tour/7_medium.jpg"
                 data-large="img/slider_single_tour/7_large.jpg" data-retina="img/slider_single_tour/7_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/8_medium.jpg"
                 data-small="img/slider_single_tour/8_small.jpg" data-medium="img/slider_single_tour/8_medium.jpg"
                 data-large="img/slider_single_tour/8_large.jpg" data-retina="img/slider_single_tour/8_large.jpg">
        </div>

        <div class="sp-slide">
            <img alt="Image" class="sp-image" src="css/images/blank.gif" data-src="img/slider_single_tour/9_medium.jpg"
                 data-small="img/slider_single_tour/9_small.jpg" data-medium="img/slider_single_tour/9_medium.jpg"
                 data-large="img/slider_single_tour/9_large.jpg" data-retina="img/slider_single_tour/9_large.jpg">
        </div>
    </div>
    <div class="sp-thumbnails">
        <img alt="Image" class="sp-thumbnail"
             src="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg">
        <img alt="Image" class="sp-thumbnail"
             src="http://www.ansonika.com/citytours/img/slider_single_tour/1_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/3_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/4_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/5_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/6_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/7_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/8_medium.jpg">
        <img alt="Image" class="sp-thumbnail" src="img/slider_single_tour/9_medium.jpg">
    </div>
</div>


<!-- Common scripts -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Gallery -->
<script src="js/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#Img_carousel').sliderPro({
            width: 960,
            height: 500,
            fade: true,
            arrows: true,
            buttons: false,
            fullScreen: false,
            smallSize: 500,
            startSlide: 0,
            mediumSize: 1000,
            largeSize: 3000,
            thumbnailArrows: true,
            autoplay: false
        });
    });
</script>

